body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

form.form-empresas {
  margin-top: 0;
  padding: -10px 0 -10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: min-content;
  position: fixed;
  left: -24.99%;
  top: 2%;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-height: 1000px;
  margin-top: -10%;
  left: 0%;
  top: -5vh;
  margin-left: 10px;
  flex-direction: column;
  overflow-x: visible;
} */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.container-empresas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15%;
  padding-left: 10px;
}

.title-container > .title-sistema {
  color: #005ca8;
  font-weight: 600;
  font-size: 18px;
}

.title-container > .title-sistema > p {
  width: 100%;
}



.btn-voltar {
  position: relative;
  width: 15%;
  font-size: 20px;
  top: 53.8%;
  display: flex;
  height: 4%;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
}

.grid-empresa {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.input-busca {
  position: relative;
  left: 25%;
}

/* */
/* lista de empresas */
/* */

.container-empresa {
  width: 270px;
  height: 250px;
  padding: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-empresa {
  position: relative;
  width: 250px;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding-top: 0;
  justify-content: center;
}

.preenchimento {
  width: 100%;
  height: 100px;
}

.dados-empresa {
  display: flex;
  width: 250px;
  height: 45px;
  margin-left: 25px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -30px;
}

p.nome-empresa {
  margin-top: 10px;
  height: 23px;
  color: rgb(104, 104, 104);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
}

.container-baixo {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-img {
  width: 100%;
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



img.logo-empresas {
  margin: 0;
  height: 100%;
  max-width: 200px;
  background-size: cover;
  background-position-y: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cnpj-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}

.cnpj {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgb(0, 0, 0);
  height: 100%;
  width: max-content;
}

.descricao-empresa {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgb(150, 150, 150);
  height: 100%;
  width: max-content;
  position: relative;
  bottom: -20px;
}


.container-loader {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loader {
  width: 150px;
  height: 150px;
  border: 8px solid #ffffff;
  border-top-color: #13a0cb;
  border-radius: 50%;
  animation: girando-o-anel 0.5s infinite;
  -webkit-animation: girando-o-anel 0.7s infinite;
}

.title-sistema {
  font-family: "poppins", sans-serif;
}

.ContainerTable-G {
  width: 100%;
  height: 100%;
}

.footer-G {
  height: 10%;
}

.preenchimento-Dashboard {
  width: 100%;
  height: 50px;
}

/*Girando oq mano?*/
@keyframes girando-o-anel {
  to {
    transform: rotate(1turn);
  }
}
/*Sei não heinkkkkkkkk*/

/* @media screen and (max-width: 1325px) and (max-height: 650px) {
  .container {
    position: absolute;
  height: 100%;
  left: 0%;
  top: 30vh;
  margin-left: 10px;
  overflow-x: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1700px) {
  table {
    font-size: 14px;
  }

  .atraso {
    max-width: 90px;
    font-size: 14px;
  }

  .box {
    width: 10%;
  }

  .box p {
    font-size: 17px;
    margin-top: -5px;
  }

  .filtrar-palavras button {
    font-size: 14px;
    width: 10%;
  }

  .container-dashboard .coisa:hover {
    transform: scale(1);
  }
}

@media (max-width: 1440px) {
  .container-dashboard .coisa {
    right: -1.5%;
  }
}

@media (max-width: 1100px) {
  .container-dashboard .coisa {
    right: -2%;
  }
}

@media (max-width: 765px) {
  .containerAll {
    left: 3%;
  }
}

@media (max-width: 653px) {
  .container-dashboard .coisa {
    right: 2%;
  }
}

@media (max-width: 623px) {
  .container-dashboard .coisa {
    right: -4%;
  }
}

@media (max-width: 520px) {
  .container-dashboard .coisa {
    right: auto;
    left: 80%;
  }

  .container-dashboard .limpar-filtros-texto {
    min-width: 45px;
    max-width: 50px;
    margin-right: 50px;
  }

  .container-dashboard .coisa p.texto {
    display: none;
  }
}

@media (max-width: 490px) {
  .container-dashboard .coisa {
    left: 82.1%;
  }

  .item4 p.card-title {
    margin-top: -30px;
  }
}

@media (max-width: 429px) {
  .container-dashboard .coisa {
    left: 78%;
  }

  .item3 p.card-title {
    margin-top: -30px;
  }
}

@media (max-width: 417px) {
  .item2 p.card-title {
    margin-top: -30px;
  }
}

@media (max-width: 411px) {
  .item5 p.card-title {
    margin-top: -30px;
  }
}

@media (max-width: 360px) {
  .container-dashboard .coisa {
    left: 74%;
  }
} */

/* ⠀⠀⠀⠀⣰⣾⠁ ⢦⣾⣤⠆  ⠻⣧⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢠⣼⠏⠀⠀⠀⠀⣿⡇⠀⠀  ⠀⠈⢷⣄⠀⠀⠀⠀
⠀⠀⢀⣸⣿⠃⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀  ⢿⣧⡀⠀⠀
⠀⢰⣾⣿⡁⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠠⢀⣿⣿⠖⠀
⠀⠀⠈⠻⣿⣦⣄⠀⠀⠀⠀⣿⡇⠀⠀⠀⢀⣼⣿⠟⠁⠀⠀
⠀⠀⠀⠀⠈⠻⢿⣷⣄⡀⠀⣿⡇⠀⣠⣾⣿⡟⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣦⣿⣧⣾⣿⠟⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢙⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣿⣿⣦⡀
⠀⠀⠀⠀⠀⢀⣴⣿⣿⠟⠁⣻⣿⠈⠙⢿⣿⣦⡄⠀⠀⠀⠀
⠀⠀⠀⢀⣴⣿⡿⠋⠀⠀⠀⣽⣿⠀⠀⠀⠙⢿⣿⣦⣄⠀⠀
⠀⣠⣴⣿⡿⠋⠀⠀⠀⠀⠀⢼⣿⠀⠀⠀⠀⠀⠈⢻⣿⣷⣄
⠈⠙⢿⣿⣦⣄⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⣠⣾⣿⠟⠁
⠀⠀⠀⠙⢿⣿⣷⣄⠀⠀⠀⢸⣿⠀⠀⠀⣠⣾⣿⠟⠁⠀⠀
⠀⠀⠀⠀⠀⠙⢻⣿⣷⡄⠀⢸⣿⠀⠀⣼⣿⣿⠃⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠻⢿⣿⣦⣸⣿⣠⣾⣿⠟⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀ */
